// Table of Content
//==================================================
// Page Style
// Header Style
// Logo style
// Nav style
// Content Style
// SideBar Style
// Footer Style
//==================================================

//	PAGE Style
//==================================================
main{
    min-height      : 100%;
    background      : @main-bg;
    background-size : cover;
    overflow        : hidden;
    position        : relative;
    z-index         : 1;
    .box-shadow(0 0 10px fade(#000, 50%));
}

//	HEADER Style
//==================================================
@import "../components/header";

//	Aricle Style
//==================================================
article{
    width   : 100%;
    padding : @padding-base-vertical @padding-base-horizontal;

    & when not (@article-bg = @main-bg) and not (@article-bg = transparent){
        background : @article-bg;
    }

    & when not (@article-color = @text-color){
        background : @article-color;
    }
}

//	FOOTER Style
//==================================================
@import "../components/footer";

//	SIDEBAR Style
//==================================================
aside{
    width      : @aside-width;
    background : @aside-bg;
    color      : @aside-color;
    overflow   : auto;

    a{
        color : @aside-link-color;
    }

    .aside-box{
        margin-bottom : 30px;
    }

    // -- NAV Style
    nav{
        a{
            display       : block;
            padding       : 0 @padding-base-horizontal;
            border-bottom : 1px solid rgba(0, 0, 0, .05);

            &.touch{
                .rgba(#000; .05);
            }
        }
    }
}

.dial{
}

#donate-form{
    .dial{
        top : 35px !important;
    }
}
#donated, #contribute-me{
    canvas{
        background : @brand-success;
        .border-radius(10em);
    }
}

canvas{
    position : relative;
    z-index  : 1;
}
.friend-info{
    margin-top : -40px !important;
}

.wish-preview{

    &:before{
        position  : absolute;
        left      : 0;
        top       : 0;
        bottom    : 0;
        right     : 0;
        z-index   : 0;
        margin    : auto;
        width     : 1em;
        height    : 1em;
        font-size : 7em;
        color     : @gray-dark;
    }

    img{
        z-index : 1;

        [src=""]{
            display : none;
        }
    }
}