header{
    height      : @header-height;
    line-height : @header-height;
    background  : @header-bg;
    color       : @header-color;

    &.fixed{
        position : fixed;
        top      : 0;
        left     : 0;
        right    : 0;
        z-index  : 100;
    }

    button, .btn{
        font-size  : inherit;
        color      : inherit;
        background : none;
        outline    : none;
        border     : none;

        &.touch, &:active, &.active{
            background : rgba(0, 0, 0, .25);
        }
    }

    /* iOS STYLES */
    .ios & when (@os-ios = true){
        & when (@status-bar = true){
            padding-top : 20px;
            .box-sizing(content-box);
        }
    }

    /* ANDROID STYLES */
    .android & when (@os-android = true){
    }

    /* WINDOWS PHONE STYLES */
    .wp & when (@os-winPhone = true){
    }
}

.mtH{
    margin-top : @header-height !important;

    header.large ~ &{
        margin-top : @header-height * @font-size-large !important;
    }

    header.larger ~ &{
        margin-top : @header-height * @font-size-larger !important;
    }
}

.ptH{
    padding-top : @header-height !important;

    header.large ~ &{
        padding-top : @header-height * @font-size-large !important;
    }

    header.larger ~ &{
        padding-top : @header-height * @font-size-larger !important;
    }
}
.ios when (@status-bar = true){
    .mtH{
        margin-top : @header-height + (20 / @font-size-base) !important;
    }
    .ptH{
        padding-top : @header-height + (20 / @font-size-base) !important;
    }

    header.large{
        & ~ .mtH{
            margin-top : @header-height * @font-size-large + (20 / @font-size-base) !important;
        }
        & ~ .ptH{
            padding-top : @header-height * @font-size-large + (20 / @font-size-base) !important;
        }
    }

    header.larger{
        & ~ .mtH{
            margin-top : @header-height * @font-size-larger + (20 / @font-size-base) !important;
        }
        & ~ .ptH{
            padding-top : @header-height * @font-size-larger + (20 / @font-size-base) !important;
        }
    }
}