header{
    height      : @header-height;
    line-height : @header-height;
    background  : @header-bg;
    color       : @header-color;
    text-align  : center;

    &.fixed{
        position : fixed;
        top      : 0;
        left     : 0;
        right    : 0;
        z-index  : 100;
    }

    button, .btn{
        font-size  : inherit;
        color      : inherit;
        background : none;
        cursor     : pointer;
        outline    : none;
        border     : none;

        &.touch, &:active, &.active{
            background : rgba(0, 0, 0, .25);
        }
    }

    h1{
        margin         : 0;
        font-size      : 1.5em;
        overflow       : hidden;
        white-space    : nowrap;
        text-overflow  : ellipsis;
        font-weight    : normal;
        color          : inherit;
        letter-spacing : 3px;
    }

    .ios & when (@os-ios = true){
        padding-top : 20px;
        .box-sizing(content-box);
        //        border-bottom : 1px solid darken(@brand-primary, 3%);
    }

    /* ANDROID STYLES */
    .android & when (@os-android = true){
        //        border-bottom : 2px solid darken(@brand-primary, 3%);
    }

    /* WINDOWS PHONE STYLES */
    .wp & when (@os-winPhone = true){
    }
}

.mtH{
    margin-top : @header-height;

    header.large ~ &{
        margin-top : @header-height * @font-size-large;
    }

    header.larger ~ &{
        margin-top : @header-height * @font-size-larger;
    }
}
.ios{
    .mtH{
        margin-top : @header-height + (20 / @font-size-base);
    }

    header.large ~ .mtH{
        margin-top : @header-height * @font-size-large + (20 / @font-size-base);
    }

    header.larger ~ .mtH{
        margin-top : @header-height * @font-size-larger + (20 / @font-size-base);
    }
}

.ptH{
    margin-top : @header-height;

    header.large ~ &{
        margin-top : @header-height * @font-size-large;
    }

    header.larger ~ &{
        margin-top : @header-height * @font-size-larger;
    }
}
.ios{
    .ptH{
        margin-top : @header-height + (20 / @font-size-base);
    }

    header.large ~ .ptH{
        margin-top : @header-height * @font-size-large + (20 / @font-size-base);
    }

    header.larger ~ .ptH{
        margin-top : @header-height * @font-size-larger + (20 / @font-size-base);
    }
}