<main id="{{pageName}}" class="gray-lighter-bg flexbox-column">

    <header class="large fixed">
        <button class="back-btn btn icon-arrow-left6 pl0em fl-left">{{pageTitle}}</button>
        <a class="btn icon icon-user fl-right" href="#profile">Profile</a>
    </header>

    <article class="p0px scroll ptH flex-size_1">
        <ul class="list-bordered m0px clearfix">
            <li class="m5px p5px clearfix white-bg">
                <img src="images/users/Amit Luthra.jpg" alt="Amit Luthra" width="45"
                        class="fl-left mr0-5em profile"
                        data-user-id="1"/>
                <p class="small m0px">Oh man, thank you so much for the gift I am almost there... I'll send you pictures!</p>
            </li>
            <li class="m5px p5px clearfix white-bg">
                <img src="images/users/Dino LAcapra.jpg" alt="Dimo LaCapra" width="45"
                        class="fl-right ml0-5em profile"
                        data-user-id="0"/>
                <p class="text-right small m0px">No worries, looking forward to see the pics. Happy Birthday!</p>
            </li>
        </ul>
    </article>

    <footer class="white-bg p10px">
        <textarea class="inherit" name="message" id="message" cols="30" rows="3" placeholder="Enter your message..."></textarea>
        <button id="send-message" class="btn block fl-right mt0-25em icon-send"></button>
    </footer>

</main>