<main id="{{pageName}}" class="gray-lighter-bg">

    <header class="large fixed">
        <!--<button class="back-btn btn icon icon-arrow-left6 fl-left">Back</button>-->
        <a class="btn icon icon-user fl-right" href="#profile">Profile</a>
        <span class="ml1em mr1em">{{pageTitle}}</span>
    </header>

    <article class="p0px scroll ptH pb5em">
        <ul class="list-bordered m0px clearfix">
            <li id="dotation-list" class="p5px m5px clearfix" style="border-bottom: 2px solid rgba(0,0,0,.1);">
                <span class="text-bold text-center fl-right small gray-dark ml0-5em pr0-5em">
                    <span class="inline-block mr0-5em">Some people<br> sent you money</span>
                    <i class="icon-dollar3 icon24 success"></i>
                </span>
                <div class="scroll text-overflow">
                    {{#usersSent}}
                    <img class="dotation-me"
                            data-user-id="{{id}}"
                            src="{{photo}}" alt="{{name}}" width="45"/>
                    {{/usersSent}}
                </div>
            </li>
            <li class="newRequests p5px m5px white-bg clearfix" style="border-bottom: 2px solid rgba(0,0,0,.1);">
                <span class="text-bold text-center fl-left gray-dark mr0-5em pl0-5em">
                    <i class="icon-announcement icon24 success"></i>
                    <span class="inline-block ml0-5em">New lists<br> requests</span>
                </span>
                <div class="scroll text-overflow text-right">
                    {{#usersRequest}}
                    <img src="{{photo}}" alt="{{name}}" width="45"/>
                    {{/usersRequest}}
                </div>
            </li>

            {{#user.wishList}}
            <li class="p5px m5px white-bg wish clearfix" data-user-id="{{user.id}}" data-wish-id="{{id}}">
                <img src="{{photo}}"
                        alt="Modern design watch" width="75"
                        class="fl-left mr1em"/>
                <h4 class="text-bold m0px">{{title}}</h4>

                <div class="wrap error">
                    <i class="icon-man fs32 fl-left lh-small" style="margin-left: -5px"></i>
                    <div class="fl-left mt0-25em mr0-5em lh-small" style="margin-left: -5px">
                        {{peoples}} <br>
                        {{total}}
                    </div>
                    <div class="wrap primary larger mt0-25em text-bold">
                        {{unit}}{{donation}} to go
                    </div>
                </div>
            </li>
            {{/user.wishList}}

            <li class="m5px p5px message gray">
                <img src="images/users/Amit Luthra.jpg" alt="Amit Luthra" width="45"
                        class="fl-left mr0-5em profile"
                        data-user-id="1"/>
                <p class="small m0px">Oh man, thank you so much for the gift I am almost there... I'll send you pictures!</p>
            </li>

            <li class="p5px m5px white-bg clearfix contact-list">
                <h4>Some birthdays coming up!</h4>
                <span class="fl-right text-center small ml0-5em">See their list<br> and contribute</span>
                <div class="scroll text-overflow">
                    {{#usersBirthday}}
                    <img class="profile"
                        data-user-id="{{id}}"
                        src="{{photo}}" alt="{{name}}" width="45"/>
                    {{/usersBirthday}}
                </div>
            </li>
        </ul>
    </article>

    <footer class="_column_3 one-line margin-none fixed">
        <a class="btn btn-caption small" href="#sendMoney">
            <i class="icon-dollar fs48 block"></i>
            Contribute
        </a>
        <a id="quick-pick" class="btn btn-caption small" href="javascript:;">
            <i class="icon-camera fs48 block"></i>
            Quick pick
        </a>
        <a class="btn btn-caption small" href="#addWish">
            <i class="icon-newspaper fs48 block"></i>
            Add item
        </a>
    </footer>

</main>