<main id="{{pageName}}" class="flexbox flex-item-align-center">

    <article class="pt0em pb0em">
        <h1 class="text-center text-light primary fs64">
            <img src="images/logo.png" alt="{{pageTitle}}"/>
        </h1>
        <form id="login-forms" class="">
            <p class="input-label">
                <input id="login" type="text" name="login" required/>
                <label class="required" for="login">Login</label>
            </p>
            <p class="input-label">
                <input id="password" type="password" name="password" required/>
                <label class="required" for="password">Password</label>
            </p>
            <button class="btn block" type="submit">SIMPLIZITI LOGIN</button>
        </form>

        <hr class="center mt2em mb2em" title="Login with social account">

        <div class="_column_3 full-width">
            <a class="btn icon larger gplus icon-gplus" href="#home" onclick="localStorage.setItem('login', true);">gplus</a>
            <a class="btn icon larger facebook icon-facebook" href="#home" onclick="localStorage.setItem('login', true);">facebook</a>
            <a class="btn icon larger twitter icon-twitter" href="#home" onclick="localStorage.setItem('login', true);">twitter</a>
        </div>
        <div class="text-center large mt2em">
            Not Registered?<br>
            <a class="btn outline-bg mt0-5em" href="#register">Register Here</a>
        </div>
    </article>

</main>