<main id="{{pageName}}">
    <header class="fixed large gray-darker-bg">
        <button class="back-btn btn icon-arrow-left6 pl0em fl-left">{{pageTitle}}</button>
        <a class="btn icon icon-user fl-right" href="#profile">Profile</a>
    </header>
    <div class="mtH"></div>
    <div class="tabs-nav _column_2 gray-darker-bg one-line margin-none">
        <span data-id="tab1" class="tabs-btn btn large inherit lh-small pt1em pb1em">
            <i class="icon-dollar larger block"></i>
            I have made
        </span>
        <span data-id="tab2" class="tabs-btn large btn inherit lh-small pt1em pb1em">
            <i class="icon-dollar2 larger block"></i>
            I have received
        </span>
    </div>
    <section class="tabs">
        <article id="tab1" class="tabs-item p0px">
            <ul class="list-unstyled m0px">
                {{#donationsMade}}
                <li class="user-item gray-lighter-bg clearfix p5px" data-user-id="{{id}}">
                    <img class="fl-left ml0-5em mr0-5em img-circle" src="{{photo}}" alt="{{name}}" width="50" height="50"/>
                    <span class="fl-right p5px larger success text-bold mt0-25em">{{unit}}{{donation}}</span>
                    <div class="wrap">
                        <h3 class="m0px text-bold gray">To {{name}}</h3>
                        {{date}}
                    </div>
                </li>
                {{/donationsMade}}
            </ul>
        </article>

        <article id="tab2" class="tabs-item p0px">
            <ul class="list-unstyled m0px">
                {{#donationsReceived}}
                <li class="user-item gray-lighter-bg clearfix p5px" data-user-id="{{id}}">
                    <img class="fl-left ml0-5em mr0-5em img-circle" src="{{photo}}" alt="{{name}}" width="50" height="50"/>
                    <span class="fl-right p5px larger success text-bold mt0-25em">{{unit}}{{donation}}</span>
                    <div class="wrap">
                        <h3 class="m0px text-bold gray">To {{name}}</h3>
                        {{date}}
                    </div>
                </li>
                {{/donationsReceived}}
            </ul>
        </article>
    </section>
</main>