<main id="{{pageName}}">
    <header class="fixed large gray-darker-bg">
        <button class="back-btn btn icon-arrow-left6 pl0em fl-left">{{pageTitle}}</button>
        {{#user}}
        <button class="dropdown-btn btn icon icon-list5 fl-right" data-menu="#menu">Menu</button>
        <!--<a class="btn icon icon-logout fl-right" href="#login">Logout</a>-->
        {{/user}}
    </header>

    <div class="gray-darker-bg gray-lighter mtH text-center clearfix">
        {{#user}}
            <h4 class="inherit">{{pageTitle}}</h4>
        {{/user}}
        {{^user}}
            <h2 class="inherit">{{userData.name}}</h2>
        {{/user}}
        <div class="w125px centered">
            <span class="responsive-image _1x1 img-circle">
                <img src="{{userData.photo}}" alt="{{userData.name}}" width="75">
            </span>
        </div>
        {{#user}}
            <h2 class="inherit mt0-5em mb0em">{{userData.name}}</h2>
            <span class="large">Current balance <span class="text-bold larger success align-middle">$356</span></span>
            <ul class="_column_3 m0px p0px">
                <li class="follow-list" data-follow="25">
                    <span class="block larger">25</span>
                    Following
                </li>
                <li class="follow-list" data-follow="22">
                    <span class="block larger">22</span>
                    Followers
                </li>
                <li class="my-dotation">
                    <span class="block larger">54</span>
                    Contributions
                </li>
            </ul>
        {{/user}}
        {{^user}}
        {{#showBlock}}
            <ul class="white m0px p0px mt1em mb1em">
                <li class="fs32">
                    <i class="icon-phone2"></i> {{userData.phone}}
                </li>
                <li class="fs24">
                    <i class="icon-birthday-cake"></i> 28th August
                </li>
            </ul>
        {{/showBlock}}
        {{^showBlock}}
            {{#userData.invited}}
            <h4 class="large inherit">{{userData.name}} is a Simpliziti user</h4>
            {{/userData.invited}}
            {{^userData.invited}}
            <h4 class="large inherit">{{userData.name}}<br> is not a Simpliziti user yet</h4>
            {{/userData.invited}}
            <p class="fs32"><i class="icon-phone2"></i> {{userData.phone}}</p>
        {{/showBlock}}
        {{/user}}
    </div>

    <article class="p0px">
        {{#user}}
            {{>wishListing}}
            <div class="gray-darker-bg p10px">
                <a class="btn success block outline-bg" href="#addWish">Add Wish</a>
            </div>
        {{/user}}
        {{^user}}
            {{#userData.invited}}
                {{#userData.wishListShow}}
                    {{>wishListing}}
                {{/userData.wishListShow}}
                {{^userData.wishListShow}}
                    <div id="ask-block" class="text-center p10px clearfix large">
                        <p class="_grid_10 _suffix_1 _prefix_1 mt0-5em">Ask {{userData.name}} to share their Wish List</p>
                        <button id="ask-wish" class="btn info large">Request Wish List</button>
                    </div>
                {{/userData.wishListShow}}
            {{/userData.invited}}
            {{^userData.invited}}
                <div id="invite-block" class="text-center p10px clearfix large">
                    <p class="_grid_10 _suffix_1 _prefix_1 mt0-5em">Invite {{userData.name}} to join Simpliziti<br> and share a Wish List</p>
                    <button id="invite" class="btn info large">Invite Now</button>
                </div>
            {{/userData.invited}}
        {{/user}}
    </article>

    {{#user}}
    <nav id="menu" class="dropdown-menu top right mtH large">
        <a class="icon-idcard block pt0-5em pb0-5em inherit" href="#settings"> My account</a>
        <a class="icon-logout block pt0-5em pb0-5em inherit" href="#login"> Logout</a>
        <hr class="m0px mb0-5em">
        <div class="_column_3 one-line text-center">
            <a class="icon-apple icon32 inherit" onclick="window.open('https://build.phonegap.com/apps/1363035/download/ios', '_system')" href="javascript:;"> Download iOS</a>
            <a class="icon-android icon32 inherit" onclick="window.open('https://build.phonegap.com/apps/1363035/download/android', '_system')" href="javascript:;"> Download Android</a>
            <a class="icon-windows icon32 inherit" onclick="window.open('https://build.phonegap.com/apps/1363035/download/winphone', '_system')" href="javascript:;"> Download iOS</a>
        </div>
    </nav>
    {{/user}}

    <script>
        $(".dial").knob({
            'change' : function (v) {
                $('#balance').text(balanceUnit + (balanceVal - Math.round(v)));
            }
        });
    </script>
</main>