<main id="wish-{{wish.id}}" class="gray-darker-bg">
    <header class="fixed large fade">
        <button class="back-btn btn pl0em icon-arrow-left6 fl-left">Back</button>
        {{#user}}
        <a id="wish-remove" class="btn icon icon-remove error fl-right" href="javascript:;"> Remove</a>
        <a id="wish-edit" class="btn icon icon-pencil3 info fl-right" href="#addWish?userId=0&wishId={{wish.id}}"> Edit</a>
        <a class="wish-private btn icon icon-locked2 warning fl-right" {{^wish.private}}style="display:none"{{/wish.private}}>Private</a>
        <a class="wish-private btn icon icon-unlocked2 success fl-right" {{#wish.private}}style="display:none"{{/wish.private}}>Public</a>
        {{/user}}
        {{^user}}
        <a class="btn icon icon-user fl-right" href="#profile">Profile</a>
        {{/user}}
    </header>

    <div class="wish-photo white-bg left p0px">
        <img src="{{wish.photo}}" alt="{{wish.title}}"/>
        <span class="wish-price larger bottom ml0-25em shadow">{{wish.unit}}{{wish.price}}</span>
    </div>

    <article class="p10px">
        <h1 class="inherit larger text-center">{{wish.title}}</h1>
        <p class="gray-light">{{wish.description}}</p>
    </article>

    {{^user}}
    <footer class="donate-info large p10px inherit">
        <button id="donate-btn"
                class="btn success fl-right"
                data-id="{{wish.id}}">Contribute</button>
        <div class="wrap lh-normal">
            <i class="icon-man fs48 fl-left lh-small" style="margin-left: -10px"></i>
            <div class="fl-left mr0-5em" style="margin-left: -10px">
                {{wish.peoples}} <br>
                {{wish.total}}
            </div>
            <div class="wrap mt0-75em">
                {{wish.unit}}{{wish.donation}}
            </div>
        </div>
    </footer>
    {{/user}}
</main>